<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - Attendance system</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<nav class="navbar">
    <a href="#" class="brand">Attendance System</a>

    <div class="profile">
        <p>Hi, UserName</p>
        <button class="login-btn">Logout</button>
    </div>
</nav>

<header class="header-section">
    <div class="welcome-box">
        <h1>Welcome to School Attendence System</h1>
        <p>This is a Home page</p>
    </div>
</header>
</body>
</html>