<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - Attendance system</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<nav class="navbar">
    <a href="#" class="brand">Attendance System</a>

    <div class="profile">
        <p>Hi, <span id="username"></span></p>
        <button class="login-btn" onClick="logout()">Logout</button>
    </div>
</nav>

<header class="header-section">
    <div class="welcome-box">
        <h1>Welcome to School Attendence System</h1>
        <p>This is a Home page</p>
    </div>
</header>

<script type="text/javascript">
var token=localStorage.getItem("token");
var username=localStorage.getItem("username");
if(!token){
	 window.location.href = "/login";
}
var usernameSpan=document.getElementById("username");
usernameSpan.innerHTML=username;

function logout(){
	localStorage.clear();
	window.location.href = "/login";
}
</script>
</body>
</html>